:root {
    --violet-color: #5773ff;
    --grey-color: #202026;
    --white-grey:#7f7f89;
    --white-grey-2: #B2B6B9;
    --trans: .3s;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: var(--grey-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--violet-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4962db;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

.page {
    min-height: 100vh;
    overflow: hidden;
}

/* Start Side Bar */

.page .side-bar {
    background-color: #18181d;
    width: 200px;
    height: 100%;
    padding-bottom: 30px;
    z-index: 50;
}

.page .side-bar::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 13px;
    border: 15px solid;
    border-color: transparent transparent #18181d transparent;
}

.page .side-bar .title {
    margin-bottom: 70px;
    font-size: 19px;
}

.page .side-bar .menu .list h4 {
    color: var(--white-grey);
    letter-spacing: 1.7px;
}

.page .side-bar .menu .list:first-of-type ul li:first-of-type  {
    color: var(--violet-color);
}

.page .side-bar .menu .list ul li {
    transition: var(--trans);
}

.page .side-bar .menu .list ul li:hover {
    transform: translateX(10px);
    color: var(--violet-color);
}

.page .side-bar .google-pod {
    width: 150px;
    background-color: #25252d;
    overflow: hidden;
    transition: var(--trans);
    cursor: pointer;
    bottom: 20px;
}

.page .side-bar .google-pod .top {
    background-color: #32323d;
    line-height: 15px;
    transition: var(--trans);
}

.page .side-bar .google-pod span {
    color: var(--white-grey-2);
    font-size: 10px;
}

.page .side-bar .google-pod:hover .top {
    background-color: #41414f;
}

.page .side-bar .google-pod:hover {
    background-color: #32323d;
}

.other-links {
    position: absolute;
    top: 20px;
    left: 18px;
    color: var(--white-grey-2);
    font-size: 24px;
    z-index: 6;
}

/* Start Media Screens */

@media (max-width: 1279px) {
    .page .side-bar .google-pod {
        bottom: 80px;
        right: 20px;
    }
}


@media (max-width: 1023px) {
    .page .side-bar {
        width: 180px;
    }
}

@media (min-width: 768px) {
    .other-links,
    .search-icon {
        display: none;
    }
}

@media (max-width:767px) {
    .page .side-bar {
        border-bottom: 2px solid var(--white-grey-2);
        display: none;
    }

    .page .side-bar .title {
        margin-bottom: 30px;
    }

    .page .side-bar .menu {
        display: flex;
        flex-direction: column;
    }

    .page .side-bar .menu .list ul {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 15px;
    }

    .page .side-bar .menu .list:not(:last-of-type) {
        margin-bottom: 25px;
    }

    .page .side-bar .menu .list:not(:last-of-type) ul {
        border-bottom: 1px solid var(--white-grey);
    }

    .page .side-bar .menu .list ul li:hover {
        transform: translateX(0);
    }

    .other-links:hover + .side-bar,
    .other-links + .side-bar:hover {
        display: block;
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 70px;
    }
    .page .side-bar .google-pod {
        display: none;
    }
}

/* End Media Screens */

/* End Side Bar */


.content {
    width: 100%;
    background-image: linear-gradient(to bottom , #050505, #18181D );
}

/* Start header */

.content header {
    position: relative;
    z-index: 5;
}

.content header ul {
    color: var(--white-grey-2);
}

.content header ul li {
    transition: var(--trans);
}

.content header ul li:first-of-type {
    color: var(--violet-color);
}

.content header ul li:hover {
    color: var(--violet-color);
    font-weight: bold;
}

.content header .search input {
    background-color: var(--grey-color);
    border: 1px solid var(--white-grey-2);
}

.content header .search i {
    transition: var(--trans);
}

.content header .search input {
    color: var(--white-grey-2);
    transition: var(--trans);
}

.content header .search input:focus {
    border-color: var(--violet-color);
}

.content header .search input::placeholder {
     color: var(--white-grey-2);
}

.content header .icons i {
    color: var(--white-grey-2);
    transition: var(--trans);
    cursor: pointer;
}

.content header .icons i:first-of-type::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--violet-color);
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

.content header .icons i:hover {
    color: white;
    transform: scale(1.1);
}

.content header .user {
    background-color: var(--grey-color);
    height: 45px;
}

.content header .user .user-img {
    width: 45px;
    height: 45px;
    background-color: #32323d;
}

.content header .user .user-img img {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    transition: var(--trans);
}

.content header .user p {
    padding-left: 45px;
    transition: var(--trans);
}

.content header .user:hover img {
   transform: scale(1.1) 
}

.content header .user:hover p {
    color: var(--violet-color);
}

/* Start Media Screens */

@media (max-width:1023px) {
    .content {
        padding: 20px;
    }
    .content header ul {
        gap: 20px;
    }
    .content header .user {
        width: 45px;
        height: 45px;
    }
    .content header .user p {
        display: none;
    }
    .content header .search input {
        padding: 12px 0 12px 35px;
        width: 180px;
    }
    .content header .icons {
        gap: 20px;
    }
}

@media (max-width: 1279px) {
    .content {
        padding-bottom: 80px;
    }
}

@media (max-width:767px) {

    .content header ul {
        margin-right: auto;
        gap: 14px;
        margin-left: 42px;
    }

    .content header .icons {
        margin-right: 10px;
        gap: 14px;
    }

    .content header .search,
    .content header .user {
        display: none;
    }
}


/* End Media Screens */

/* End header */

/* Start Landing */

.content .landing .text .info span:nth-of-type(2) {
    color: var(--white-grey-2);
}

.content .landing .text .info .buttons a {
    background-color: var(--violet-color);
}

.content .landing .text .info .buttons a:hover {
    background-color: #4f69e8;
}

.content .landing .text .info .buttons i {
    color: var(--violet-color);
    border: 2px solid var(--white-grey-2);
    width: 44px;
    height: 44px;
    display: flex;
}

.content .landing .text .info .buttons i:hover {
    animation-name: heart;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.content .landing img {
    width: 540px;
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 0;
    opacity: 0.8;
}

@media (max-width: 1280px) {
    .content .landing img {
        width: 450px;
        right: 0px;
        top: 45px;
    }
}

@media (max-width: 1023px) {
    .content .landing img {
        display: none;
    }
}

@media (max-width: 767px) {
    .content .landing .text {
         text-align: center;
    }
    .content .landing .text .info {
        margin: 0;
        margin-top: 30px;
   }
   .content .landing .text .info > p {
        margin-bottom: 20px;
        font-size: 45px;
    }
    .content .landing .text .buttons {
        justify-content: center;
    }
}

@keyframes heart {
    0% , 100%{
        font-size: 22px;
    }

    50% {
        font-size: 16px;
    }
}

/* End Landing */


/* Start Top Artists */

.content .web-content {
    position: relative;
    z-index: 10;
    margin-top: 70px;
}

.content .web-content .sections {
    flex-wrap: wrap;
}

@media (max-width: 1280px) {
    .content .web-content {
        margin-top: 50px;
    }
}

@media (max-width: 1023px) {
    .content .web-content .sections {
        flex-direction: column;
    }
}

.content .web-content .sections .top-artists-sec {
    background-color: var(--grey-color);
    min-width: 100%;
    flex: 1;
}

.content .web-content .sections .top-artists-sec .artists {
    height: 200px;
}


.content .web-content .sections .top-artists-sec .artists::-webkit-scrollbar {
    height: 5px;
}

.content .web-content .sections .top-artists-sec .artists::-webkit-scrollbar-track {
    background-color: rgb(28, 27, 27);
    border-radius: 50px;
}

.content .web-content .sections .top-artists-sec .artists::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--violet-color);
}

.content .web-content .sections .top-artists-sec .artists::-webkit-scrollbar-thumb:hover {
    background-color: #4962db;
}


.content .web-content .sections .text span {
    color: var(--white-grey);
    transition: var(--trans);
}

.content .web-content .sections .text span:hover {
    color: var(--white-grey-2);
}

.content .web-content .sections .top-artists-sec .artists .artist .image {
    width: 95px;
    height: 85px;
}

.content .web-content .sections .top-artists-sec .artists .artist .image::before {
    content: "";
    background-color: hsla(206, 5%, 71%, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 0;
    height: 0;
    z-index: 5;
    transition: .1s;
    cursor: pointer;
}

.content .web-content .sections .top-artists-sec .artists .artist .image img {
    transition: var(--trans);
}

.content .web-content .sections .top-artists-sec .artists .artist .image:hover::before{
    width: 100%;
    height: 100%;
}

.content .web-content .sections .top-artists-sec .artists .artist .image:hover img {
    transform: scale(1.1) rotate(-5deg);
}

.content .web-content .sections .top-artists-sec .artists .artist span:nth-of-type(2) {
    color: var(--white-grey);
}

/* End Top Artists */

/* Start Genres */

.content .web-content .sections  .genres-sec {
    background-color: var(--grey-color);
    flex: 1;
}

.content .web-content .sections  .genres-sec .genres .block-1 {
    width: calc(50% - 6px);
    height: 90px;
    padding: 10px;
    line-height: 1;
    transition: var(--trans);
    display: flex;
}

@media (max-width: 1023px) {
    .content .web-content .sections  .genres-sec .genres .block-1 {
        justify-content: center;
    }
}

.content .web-content .sections  .genres-sec .genres .block-1:first-of-type {
    background-color: #476A8A;
}

.content .web-content .sections  .genres-sec .genres .block-1:first-of-type:hover {
    background-color: #547da3;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(2) {
    background-color: #A69984;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(2):hover {
    background-color: #bbad96;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(3) {
    background-color: #A24C34;
    width: calc(65% - 6px);
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(3):hover {
    background-color: #bc583c;
}

.content .web-content .sections .genres-sec .genres .block-1:nth-of-type(4) {
    background-color: #0D4045;
    width: calc(35% - 6px);
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(4):hover {
    background-color: #135c62;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(5) {
    background-color: #A67894;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(5):hover {
    background-color: #c390b0;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(6) {
    background-color: #5547A5;
}

.content .web-content .sections  .genres-sec .genres .block-1:nth-of-type(6):hover {
    background-color: #6756c7;
}

/* End Genres */

/* Start Top Charts */

.content .web-content .sections  .top-charts {
    background-color: var(--grey-color);
    flex: 2;
}

.content .web-content .sections  .top-charts .song img {
    width: 50px;
}

.content .web-content .sections  .top-charts .song .info {
    color: var(--white-grey-2);
}

.content .web-content .sections  .top-charts .song .settings i:first-of-type {
    color: var(--violet-color);
    border: 2px solid var(--white-grey);
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 10px;
    background-color: #32323D;
    transition: var(--trans);
}

.content .web-content .sections  .top-charts .song .settings i:first-of-type:hover {
    background-color: #2e2e37;
    font-size: 17px;
}

.content .web-content .sections  .top-charts .song .settings i:last-of-type {
    color: var(--white-grey-2);
    transition: var(--trans);
}

.content .web-content .sections  .top-charts .song .settings i:last-of-type:hover {
    color: #d2d6d9;
}

@media (max-width: 767px) {
    .content .web-content .sections  .top-charts .song .settings {
         gap: 15px;
    }
    .content .web-content .sections  .top-charts .song .settings span {
        font-size: 14px;
    }
    .content .web-content .sections  .top-charts .song .info {
        width: 50px;
    }
    .content .web-content .sections  .top-charts .song:last-of-type .info {
        width: 100px;
    }
    .content .web-content .sections  .top-charts .song:last-of-type .info span:nth-of-type(2) {
        font-size: 12px;
    }
}

/* End Top Charts */


/* Start Player */

.content .web-content .player {
    background-color: var(--grey-color);
}

.content .web-content .player > img {
    width: 240px;
    height: 190px;
}

.content .web-content .player .info span:nth-of-type(2) {
    color: var(--white-grey-2);
}

.content .web-content .player .info span:nth-of-type(2) {
    color: var(--white-grey-2);
}

.content .web-content .player .time-bar div {
    width: 235px;
    height: 3px;
    background: var(--white-grey);
}

.content .web-content .player .time-bar div span::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--grey-color);
    border: 4px solid white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: grabbing;
}

.content .web-content .player .bottom  {
    height: 210px;
    background-color: var(--violet-color);
}

.content .web-content .player .bottom .settings .play {
    width: 50px;
    height: 50px;
    color: var(--violet-color);
    display: flex;
}

.content .web-content .player .bottom .settings .play:hover {
    font-size: 18px;
}

.content .web-content .player .bottom .settings i {
    transition: var(--trans);
}

.content .web-content .player .bottom .settings i:hover:not(.play) {
   transform: scale(1.2);
}

.content .web-content .player .bottom .lyrics  {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.content .web-content .player .bottom .lyrics i {
    animation-name: up-down;   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: translateY(10px);
}

@keyframes up-down {

    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(4px);
    }
}

@media (max-width: 1279px) {
    .content .web-content .player {
        display: none;
    }
}

/* End Player */

.mobile-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(55 63 102 / 95%);
    z-index: 50;
    padding: 0 25px;
    display: none;
}

.mobile-player img {
    width: 40px;
    height: 40px;
}

.mobile-player .info span:nth-of-type(2) {
    color: var(--white-grey);
    font-size: 13px;
}

.mobile-player .settings .play {
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}

.mobile-player .time-bar {
    flex: 1;
}

.mobile-player .time-bar div {
    height: 3px;
    background: var(--white-grey);
    flex: 1;
}

.mobile-player .time-bar div span::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--grey-color);
    border: 4px solid white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: grabbing;
}

.mobile-player .icons img {
    width: 25px;
    height: 25px;
}

.mobile-player i,
.mobile-player .icons img {
    transition: var(--trans);
}

.mobile-player i:not(.play):hover,
.mobile-player .icons img:hover {
    scale: 1.15;
}

.mobile-player i.play:hover {
    font-size: 17px;
}

.mobile-player::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--white-grey);
    display: none;
}

.mobile-player::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 3px;
    width: 70%;
    background-color: white;
    border-radius: 50px;
    display: none;
}


@media (max-width: 1279px) {
    .mobile-player {
        display: flex;
    }
}

@media (max-width: 767px) {

    .mobile-player i:not(.settings i),
    .mobile-player .icons img,
    .mobile-player .time-bar {
        display: none;
    }

    .mobile-player .settings .play {
        border: none;
    }

    .mobile-player .settings {
        position: absolute;
        right: 30px;
        margin: 0;
    }

    .mobile-player::before,
    .mobile-player::after {
        display: block;
    }

}